<!-- <div class="ui left fixed vertical menu">
  <div class="item">
    <img class="ui mini image" src="/images/logo.png">
  </div>
  <a class="item">Features</a>
  <a class="item">Testimonials</a>
  <a class="item">Sign-in</a>
</div> -->

<div class="ui grid" *ngIf="homePage;else other_content">
  <div class="two wide column">
    <div class="ui secondary left fixed vertical pointing menu">
      <div class="item">
        <img class="ui image" src="/assets/payroll.png">
      </div>
      <a class="item" routerLink="/organization" routerLinkActive="active">
        Organization
      </a>
      <a class="item" [class.disabled]="onlyOrgEnabled" routerLink="/employees" routerLinkActive="active">
        Employees
      </a>
      <a class="item" [class.disabled]="onlyOrgEnabled" routerLink="/deductions" routerLinkActive="active">
        Deductions
      </a>
    </div>
  </div>
  <div class="fourteen wide column">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #other_content>
  <router-outlet></router-outlet>
</ng-template>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->